#your-profile h2, 
#your-profile .user-rich-editing-wrap, 
#your-profile .user-comment-shortcuts-wrap, 
#your-profile .show-admin-bar, 
#your-profile .user-nickname-wrap, 
#your-profile .user-display-name-wrap, 
#your-profile .user-url-wrap, 
#your-profile .user-googleplus-wrap, 
#your-profile .user-twitter-wrap, 
#your-profile .user-facebook-wrap, 
#your-profile .user-description-wrap, 
#your-profile .yoast-settings,
.column-wpseo-score,
.column-wpseo-score-readability{
	display: none;
}


#plumb-meta-collapse{
	margin-bottom: 20px;
	margin-top: 40px;
}


.acf-fc-layout-handle{
    background: rgba(0,115,170, .7);
    color: #fff !important;
}
.layout .layout .acf-fc-layout-handle{
    background: rgba(0,115,170, .4);
}
.mce-text{
	font-size: inherit !important;
	font-weight: normal !important;
	text-transform: none !important;
}
